{% extends "base.html" %}
{% block main %}
<img src="" alt="Picture of myself">
<h2 style="text-align: center;">Kyle Watson</h2>
<p style="text-align: center;">@kilowatson</p>
<p style="text-align: center;">Clarendon, Jamaica</p>
<p style="text-align: center;" id="date">Joined {{ date }}</p>
<p id="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt sed alias praesentium assumenda error
    veritatis, doloremque, corrupti laborum ducimus totam, laudantium recusandae enim beatae officiis nesciunt
    impedit! Quaerat, autem nemo.</p>
<div>
    <div>
        <p>7</p>
        <p>Posts</p>
    </div>
    <div>
        <p>100</p>
        <p>Following</p>
    </div>
    <div>
        <p>250</p>
        <p>Followers</p>
    </div>
</div>
<button>Follow</button>
{% endblock %}